<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">Developed by <a class="nhsuk-footer__list-item-link" href="https://github.com/nhs-pycom">NHS-pycom</a></li>
                <li class="nhsuk-footer__list-item">View the Project on <a class="nhsuk-footer__list-item-link" href="https://github.com/nhs-pycom/nhs.pycom">GitHub</a></li>
            </ul>
            <p class="nhsuk-footer__copyright">&copy; MIT Licence</p>
        </div>
    </div>
</footer>

<script type="text/javascript">
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>