<div class="social-icons right">
    {% if site.linkedin_username %}
    <a class="fab fa-linkedin" href="https://www.linkedin.com/company/{{ site.linkedin_username }}" target="_blank"></a>
    {% endif %} {% if site.github_username %}
    <a class="fab fa-github" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
    {% endif %} {% if site.twitter_username %}
    <a class="fab fa-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"></a>
    {% endif %} {% if site.devto_username %}
    <a class="fab fa-dev" href="https://dev.to/{{ site.dev_username }}" target="_blank"></a>
    {% endif %} {% if site.email %}
    <a class="fas fa-envelope" href="mailto:{{ site.email }}"></a>
    {% endif %}
    <a class="fas fa-rss" href="{{ " /feed.xml " | relative_url }}" target="_blank"></a>
</div>
<div class="clearfix"></div>