<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{% include head.html %}

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <div class="site-wrap center">
        <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a> {% include header.html %}

        <div class="post p2 p-responsive wrap" role="main">
            <div class="measure">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>