<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>        
        <div class="nhsuk-header__logo">
          <a class="nhsuk-header__link" href="https://www.nhsx.nhs.uk/" aria-label="NHS homepage">
                  <svg class="nhsuk-logo nhsuk-logo--nhsx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 753.3 250">
                  <path class="st0" d="M0 0h753.3v250H0z" fill="#f0f4f5"></path>
                  <path class="st0" d="M138.8 225.4L96.7 86.1h-.6l-28 139.3H17.4l43-201.2h67.2l41.2 139.5h.6l28.3-139.5h50.7l-42.7 201.2h-66.9zm205.2 0l17.9-86.2h-63.7l-17.9 86.2h-53.9l41.8-201.2h53.9l-15.8 77H370l15.9-77h53.9L398 225.4h-54zM581.6 69.7c-10.4-4.9-24.5-9.2-44.4-9.2-21.4 0-38.6 3.2-38.6 19.3 0 28.5 78.1 17.9 78.1 79 0 55.7-51.6 70.1-98.3 70.1-20.8 0-44.7-4.9-62.3-10.4l12.7-41c10.7 6.9 32 11.5 49.6 11.5 16.7 0 43-3.2 43-23.9 0-32.3-78.1-20.2-78.1-77 0-51.9 45.6-67.5 89.7-67.5 24.8 0 48.2 2.6 61.7 8.9l-13.1 40.2z" fill="#fff"></path>
                  <path d="M0 0v250h617.7V0H0zm138.8 225.4L96.7 86.1h-.6l-28 139.3H17.4l43-201.2h67.2l41.2 139.5h.6l28.3-139.5h50.7l-42.7 201.2h-66.9zm205.2 0l17.9-86.2h-63.7l-17.9 86.2h-53.9l41.8-201.2h53.9l-15.8 77H370l15.9-77h53.9L398 225.4h-54zM581.6 69.7c-10.4-4.9-24.5-9.2-44.4-9.2-21.4 0-38.6 3.2-38.6 19.3 0 28.5 78.1 17.9 78.1 79 0 55.7-51.6 70.1-98.3 70.1-20.8 0-44.7-4.9-62.3-10.4l12.7-41c10.7 6.9 32 11.5 49.6 11.5 16.7 0 43-3.2 43-23.9 0-32.3-78.1-20.2-78.1-77 0-51.9 45.6-67.5 89.7-67.5 24.8 0 48.2 2.6 61.7 8.9l-13.1 40.2zM687 24.2l14.6 34.6h.3l27.7-34.6h23.8l-41.7 48 23.3 52.6h-22.1l-15.4-40.4h-.3l-31.4 40.4h-25.1l46.6-54.6-22.1-46H687z" fill="#005EB8"></path>
                </svg>
          </a>
        </div>
        <p></p>
        
        <h2>{{ site..description  | default: site.github.project_tagline }}</h2>

        <p></p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/nhsx/nhsx-io-theme">nhsx</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
